* {
    box-sizing: border-box;
    
  }

  
  /* Style inputs */
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    color: white;
    background-image:  url('https://th.bing.com/th/id/R4e6f781f8a1fe13441b43b528b2b8edd?rik=3HFzVCFVYiWF7A&riu=http%3a%2f%2f2.bp.blogspot.com%2f_foLaQKyiJb0%2fTI-Cjo6qYwI%2fAAAAAAAAAAc%2frZ5Z0jZnqg0%2fw1200-h630-p-nu%2fCheguevara___hd%2bwallpaper.jpg&ehk=SNmsn6f638DGye%2bR%2buIpOfxSSyPiCOnlSsD5EbTQg60%3d&risl=&pid=ImgRaw') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
